//General
body {
  font-family: $primary-font;
}

p {
  font-size: 16px;
}

span {
  font-weight: 600;
}

h2 {
  color: $light-blue;
  font-family: $secundaryfont;
  font-weight: 500;
  margin-top: 0;

  &::first-letter {
    text-transform: uppercase;
  }
}
