body {
  background-color: $main-bk;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.content {
  margin-top: 18%;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    margin-top: 6%;
  }
}
